body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.h1-welcome{
    font-size: 70px;
    margin: 0;
    color: #f12c09;

}
.h1-welcome-1{
    font-size: 50px;
    margin-left: 30%;
    color: #04033d;
}
.food-bg{
    background-image: url(images//food-bg3.jpg);
    background-repeat: no-repeat;
    width: 100%;
    margin: 12px;
}
#burgar{
    margin-left: 25%;
}
#skip-div{
    margin-left: 14%;
    margin-right: 16%;
}
.sec1-p1{
    font-size: 40px;
    font-weight: 700;

}
span{
    color: #ffa600;
}
hr{
    height: 5px;
    background-color: darkcyan;

}
.sec-flex{
    display: flex;
}
.half-width{
    margin-top: 10%;
    margin-bottom: 5%;
    margin-right: none;
}
#service{
    margin-left: 45%;
    margin-right: 10%;
}


.anchor{
    background-image: linear-gradient(#00fb75,  #3CC8B3);
    text-decoration: none;
    padding: 10px 30px;
    font-weight: 700;
    border-radius: 20px;
}
#sec2-bg{
    margin-left: 5%;
    margin-right: 5%;
    background-image: url(images/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#sec2-div img{
    width: 200%;
    height: 100%;
    margin-top: 5%;
    margin-left: 45%;
}
.sec2-h1{
    color: #0b2f70;
    font-size: 40px;
}
.food-item{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;

}
#items{
    justify-content: center;
}
.food1 img{
    width: 100%;
    height: 140%;
}
.food1{
    box-shadow: 10px 10px 20px #38ACC6;
    margin: 2%;
    padding: 1%;
border-radius: 20px;
    width: 15%;
    height: 70%;
}
.food2 img{
    width: 100%;
    height: 150%;
}
.food2{
    box-shadow: 10px 10px 20px #38ACC6;
    margin: 2%;
    padding: 1%;
    border-radius: 20px;

    width: 15%;
    height: 70%;
}
.food3 img{
    width: 100%;
    height: 140%;
}
.food3{
    box-shadow: 10px 10px 20px #38ACC6;
    margin: 2%;
padding: 1%;
border-radius: 20px;
border: white;
    width: 15%;
    height: 70%;
}
#sec-likes{
    border-radius: 15px;
    margin-left: 20%;
    justify-content: center;
 width: 60%;
    box-shadow: 10px 10px 40px #38ACC6;
}
h3{
    font-size: 40px;
    font-weight: 800;
}
.media1{
    margin-left: 10%;
}
.media2{
    margin-left: 15%;
    margin-right: 15%;
}
.footer{

    background-color: #9cc4bef1;
    margin-top: 10%;
    margin-left: 15%;
    padding: 1%;
    text-align: center;
    width:70% ;
}
h2{
    font-size: 30px;
}
.footer-net{
    color: rgb(5, 38, 58);
}


.fab{
    color: rgba(255, 0, 0, 0.623);
   font-size: 50px;
}
.fa-facebook{
    color: rgba(12, 38, 124, 0.623);
    font-size: 50px;
}
.fa-instagram-square{
    margin-left: 15px;
    margin-right: 15px;
    color:rgb(13, 113, 175)
}
.icons{
    margin-top: 1%;
    text-align: center;
}
.number{
    margin-left: 2%;
    font-size: 25px;
    color: rgba(6, 30, 112, 0.876);
    margin-right: 2%;
}
.mail{
    font-size: 30px;
    color: slategrey;

} 